body {
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  background-color: #eee;
}

div#top {
  background: #ddd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  position: absolute;
}

div#top > span#photo {
  width: 45px;
}

div#top > span#summary {
}

img#juntoo-vignette {
  max-width: 65%;
}
